<app-modal [hidden]="!showModal">
    <div class="modal-header d-flex justify-content-between">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Purchase #{{sale.saleId}}</h1>
        <button type="button" class="btn rounded-5-close" (click)="showModal=false"><app-icon icon="x" size="2rem" ></app-icon></button>
    </div>
    <div class="modal-body">
        <span *ngIf="error" class="text-danger text-center">{{ error }}</span>
        <h6>Sale Status: {{sale.saleStatus}}</h6>
        <h6>Line Items</h6>
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    @if(sale.saleStatus === 'PENDING') {
                        <th>Inventory Stock</th>
                    }
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of sale.productList" [class]="{'table-warning':sale.saleStatus=='PENDING' && inventoryStocks[item.sku]<item.quantity}">
                    <td>{{item.sku}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    @if(sale.saleStatus === 'PENDING') {
                        <td>{{inventoryStocks[item.sku]}}</td>
                    }
                    <td>{{item.price | currency }}</td>
                </tr>
            </tbody>
        </table>
        <h6>Total Price: {{sale.totalPrice | currency}}</h6>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn rounded-5 btn-secondary" (click)="showModal=false">Close</button>
        @if (sale.saleStatus === 'PENDING') {
            <button type="button" class="btn rounded-5 btn-danger" (click)="markAsCancelled(sale.saleId)">Cancel Order</button>
            <button type="button" class="btn rounded-5 btn-success" [disabled]="!sufficientStock()" (click)="markAsShipped(sale.saleId)">Mark As Shipped</button>
        }
        @if (sale.saleStatus === 'SHIPPED') {
            <button type="button" class="btn rounded-5 btn-success" (click)="markAsCompleted(sale.saleId)" disabled>Order Shipped</button>
        }
        @if (sale.saleStatus === 'COMPLETED') {
            <button type="button" class="btn rounded-5 btn-success" (click)="markAsCompleted(sale.saleId)" disabled>Order Completed</button>
        }
        @if (sale.saleStatus === 'CANCELLED') {
            <button type="button" class="btn rounded-5 btn-danger" (click)="markAsCompleted(sale.saleId)" disabled>Order Cancelled</button>
        }
    </div>
</app-modal>