@if (viewingAlerts) {
    <app-modal [hidden]="!viewingAlerts" (closeModal)="viewingAlerts=false">
        <div class="modal-header d-flex justify-content-between">
            <h5 class="modal-title">Low Stock Alerts</h5>
            <button type="button" class="btn rounded-5-close" (click)="viewingAlerts=false">
                <app-icon icon="x" size="2rem"></app-icon>
            </button>
        </div>
        <div class="modal-body">
            <p>There are {{ alerts.length }} alerts.</p>
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <!-- <th>Product Name</th>
                        <th>Description</th>
                        <th>Price</th> -->
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of alerts" [routerLink]="['/products','view', product.sku]">
                        <td>{{ product.sku }}</td>
                        <!-- <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.buyPrice | currency }}</td> -->
                        <td>{{ product.quantity }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary rounded-5" (click)="viewingAlerts=false">Close</button>
        </div>
    </app-modal>
} @else if (updatingQuantity) {
<app-modal [hidden]="!updatingQuantity" (closeModal)="updatingQuantity=false">
    <div class="modal-header d-flex justify-content-between">
        <h5 class="modal-title">Update Quantity</h5>
        <button type="button" class="btn rounded-5-close" (click)="cancelUpdate()">
            <app-icon icon="x" size="2rem"></app-icon>
        </button>
    </div>
    <div class="modal-body">
        <p>Update the quantity for:</p>
        <p> SKU: {{ selected.sku }}</p>
        <p> Product Name: {{ selected.name }}</p>
        <p> Current Quantity: {{ selected.quantity }}</p>
        <p> Units Sold but Not Shipped: {{ selected.inPending }}</p>
        <p> Current Supplier: #{{selected.supplierId}} - {{ selected.supplier }}</p>
        <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" [(ngModel)]="selected.quantity" name="quantity" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary rounded-5" (click)="updateQuantity(selected.sku, selected.quantity)">Update</button>
    </div>
</app-modal>
}
<div class="row">
    <div class="col-12">
        <div class="card rounded-5 page-card" tabindex="0">
            <div class="card-header" style="display:flex; justify-content:space-between">
                <h3 class="card-title" style="display:inline">Inventory</h3>
                @if(alerts.length > 0) {
                <button class="btn rounded-5 btn-warning float-right" (click)="viewAlerts()" >View Alerts</button>
                } @else {
                <button class="btn rounded-5 btn-secondary float-right" [disabled]="true">No Alerts</button>
                }
                </div>
            <div class="card-body">
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>SKU</th>
                            <th>Product Name</th>
                            <!-- <th>Description</th> -->
                            <th>Our Current Stock</th>
                            <th>Units Sold <br/>Pending Shipment</th>
                            <th>Current Supplier</th>
                            <th>Supplier's Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of combineAllForAll()" [class]="{'table-warning':product.quantity<product.inPending}">
                            <td>
                                <a [routerLink]="['/products','view', product.sku]" ><app-icon icon="box-arrow-up-left"></app-icon>{{ product.sku }}</a>
                            </td>
                            <!-- <td>{{ product.name }}</td> -->
                            <!-- <td>{{ product.description }}</td> -->
                            <td>{{ product.name }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.inPending }}</td>
                            <td>{{ product.supplier }}</td>
                            <td>{{ product.buyPrice | currency }}</td>
                            <td>
                                <button class="btn rounded-5 btn-primary" (click)="onUpdate(product.sku)">Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
</div>