<h1>Products</h1>
@if (isAdmin()) {
<h2>Add Product</h2>
<app-add-product [selectedProduct]="selectedProduct" [editMode]="editMode"></app-add-product>
}
<h2>Product List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Product Name</th>
            <th>Description</th>
            @if(isAdmin()){
            <th>Buy Price</th>
            <th>Sell Price</th>
            <th>Initial Stock</th>
            <th>Actions</th>
            } @else {
            <th>Price</th>
            }

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i=index" [routerLink]="['/products/view/', product.sku]" routerLinkActive="router-link-active"  >
            <td>{{ product.sku }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            @if(isAdmin()){
            <td>{{ product.buyPrice | currency }}</td>
            <td>{{ product.sellPrice | currency }}</td>
            <td>{{ product.initial_stock }}</td>
            <td>
                <button class="btn btn-primary" (click)="onUpdate(product.sku)">Update</button>
                <button class="btn btn-danger" (click)="onDelete(product.sku)">Delete</button>
            </td>
            } @else {
            <td>{{ product.sellPrice | currency }}</td>
            }

        </tr>
</table>