<h1>Products</h1>
@if (isAdmin()) {
<button class="btn rounded-5 btn-primary float-right" (click)="openModal()">Add Product</button>
<!-- <h2>Add Product</h2> -->
<app-add-product [showModal]="addEditModalOpen" (closeModal)="closeModal()"  [selectedProduct]="selectedProduct" [editMode]="editMode"></app-add-product>
}
<h2>Product List</h2>
<div class="view-toggle-switch">
    <app-icon icon="list" size="1.5rem"></app-icon>
<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault" [(ngModel)]="viewGrid" >
    <label class="form-check-label" for="switchCheckDefault">Default switch checkbox input</label>
  </div>
  <app-icon icon="grid" size="1.5rem"></app-icon>
</div>
@if(viewGrid) {
<div class="row">
    <div class="col-3" *ngFor="let product of products">
        <app-product-card [product]="product"></app-product-card>
    </div>
</div>
} @else {
<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Product Name</th>
            <th>Description</th>
            @if(isAdmin()){
            <th>Buy Price</th>
            <th>Sell Price</th>
            <th>Initial Stock</th>
            <th>Actions</th>
            } @else {
            <th>Price</th>
            }

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i=index" >
            <td>{{ product.sku }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            @if(isAdmin()){
            <td>{{ product.buyPrice | currency }}</td>
            <td>{{ product.sellPrice | currency }}</td>
            <td>{{ product.initial_stock }}</td>
            <td>
                <button class="btn rounded-5 btn-primary" (click)="onUpdate(product.sku)">Update</button>
                <button class="btn rounded-5 btn-danger" (click)="onDelete(product.sku)">Delete</button>
                <button class="btn rounded-5 btn-success" [routerLink]="['/products/view/', product.sku]" routerLinkActive="router-link-active">View</button>
            </td>
            } @else {
            <td>{{ product.sellPrice | currency }}</td>
            }

        </tr>
</table>
}