<app-modal [hidden]="!showModal" (closeModal)="showModal=false">
    <div class="modal-header d-flex justify-content-between">
        @if(editMode) {
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Product</h1>
        } @else {
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
        }
        <button type="button" class="btn rounded-5-close" (click)="showModal=false"><app-icon icon="x" size="2rem" ></app-icon></button>
    </div>
        <div class="modal-body">
@if (phase===0) {
        <h2>Choose Supplier</h2>
    <app-specify-supplier (supplierSelected)="onSupplierSelected($event)"></app-specify-supplier>
} @else if (phase ===1) {
    <h2>Enter Product Info</h2>
    <button class="btn rounded-5 btn-secondary" (click)="back()">Back</button>
    <app-product-form [productForm]="productForm" (productInfoEntered)="onSubmit()"></app-product-form>
}
</div>
<!-- } @else if (phase ===2) {
    <app-review-sale [finalSale]="finalSale"></app-review-sale>
} -->
</app-modal>